
[MESSAGES CONTROL]

disable=
    duplicate-code,
    fixme,
    invalid-name,
    line-too-long,
    multiple-statements,
    no-else-return,
    protected-access,
    too-few-public-methods,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    trailing-newlines,
    trailing-whitespace,
    unused-variable,

