
build: false

environment:
  matrix:
    - PYTHON: "C:\\Python37"
      TOX_ENV: "docs"

    - PYTHON: "C:\\Python27"
      TOX_ENV: "lint2"

    - PYTHON: "C:\\Python36"
      TOX_ENV: "lint3"

    - PYTHON: "C:\\Python27"
      TOX_ENV: "py27"

    - PYTHON: "C:\\Python35"
      TOX_ENV: "py35"

    - PYTHON: "C:\\Python36"
      TOX_ENV: "py36"

    - PYTHON: "C:\\Python37"
      TOX_ENV: "py37"

init:
  - set "PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - echo "%PYTHON%"
  - python.exe -c "import sys; print(sys.version)"

install:
  - pip.exe install setuptools --upgrade
  - pip.exe install tox

test_script:
  - tox.exe -e %TOX_ENV% -- --hypothesis-profile=ci --duration=20

